In [53]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder,MinMaxScaler
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [6]:
data=pd.read_csv("tested.csv")

In [7]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [8]:
data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [11]:
data.drop(columns=['PassengerId','Name','Ticket','Cabin'],inplace=True)

In [12]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  34.5      0      0   7.8292        Q
1         1       3  female  47.0      1      0   7.0000        S
2         0       2    male  62.0      0      0   9.6875        Q
3         0       3    male  27.0      0      0   8.6625        S
4         1       3  female  22.0      1      1  12.2875        S

In [13]:
data.isnull().sum()

Survived     0
Pclass       0
Sex          0
Age         86
SibSp        0
Parch        0
Fare         1
Embarked     0
dtype: int64

In [19]:
# Apply imputation
si_age_fare=SimpleImputer(strategy='mean')
data[['Age', 'Fare']] = si_age_fare.fit_transform(data[['Age', 'Fare']])

In [20]:
data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [21]:
data.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  34.5      0      0   7.8292        Q
1         1       3  female  47.0      1      0   7.0000        S
2         0       2    male  62.0      0      0   9.6875        Q
3         0       3    male  27.0      0      0   8.6625        S
4         1       3  female  22.0      1      1  12.2875        S

In [28]:
ohe_sex_em=OneHotEncoder(sparse_output=False)
encoded_col=ohe_sex_em.fit_transform(data[['Sex','Embarked']])
column_name=ohe_sex_em.get_feature_names_out(['Sex','Embarked'])
encoded_data=pd.DataFrame(encoded_col,columns=column_name)
data=pd.concat([data.drop(columns=['Sex','Embarked']),encoded_data],axis=1)

In [29]:
data.head()

,Survived,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,0,3,34.5,0,0,7.8292,0.0,1.0,0.0,1.0,0.0
1,1,3,47.0,1,0,7.0000,1.0,0.0,0.0,0.0,1.0
2,0,2,62.0,0,0,9.6875,0.0,1.0,0.0,1.0,0.0
3,0,3,27.0,0,0,8.6625,0.0,1.0,0.0,0.0,1.0
4,1,3,22.0,1,1,12.2875,1.0,0.0,0.0,0.0,1.0

In [36]:
X=data.drop('Survived',axis=1)
X.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,34.5,0,0,7.8292,0.0,1.0,0.0,1.0,0.0
1,3,47.0,1,0,7.0000,1.0,0.0,0.0,0.0,1.0
2,2,62.0,0,0,9.6875,0.0,1.0,0.0,1.0,0.0
3,3,27.0,0,0,8.6625,0.0,1.0,0.0,0.0,1.0
4,3,22.0,1,1,12.2875,1.0,0.0,0.0,0.0,1.0

In [38]:
y=data['Survived']
y.head()

0    0
1    1
2    0
3    0
4    1
Name: Survived, dtype: int64

In [39]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [40]:
X_train

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
336,2,32.00000,0,0,13.0000,0.0,1.0,0.0,0.0,1.0
31,2,24.00000,2,0,31.5000,0.0,1.0,0.0,0.0,1.0
84,2,30.27259,0,0,10.7083,0.0,1.0,0.0,1.0,0.0
287,1,24.00000,1,0,82.2667,0.0,1.0,0.0,0.0,1.0
317,2,19.00000,0,0,10.5000,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
71,3,21.00000,0,0,7.8958,0.0,1.0,0.0,0.0,1.0
106,3,21.00000,0,0,7.8208,0.0,1.0,0.0,1.0,0.0
270,1,46.00000,0,0,75.2417,0.0,1.0,1.0,0.0,0.0
348,2,24.00000,0,0,13.5000,0.0,1.0,0.0,0.0,1.0
102,3,30.27259,0,0,7.7500,0.0,1.0,0.0,1.0,0.0

In [54]:
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [55]:
y_pred=clf.predict(X_test)
y_pred

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1])

In [56]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [57]:
print(f"accuracy:{accuracy_score(y_test,y_pred)}")
print(f"precison:{precision_score(y_test,y_pred)}")
print(f"recall:{recall_score(y_test,y_pred)}")
print(f"f1:{f1_score(y_test,y_pred)}")

accuracy:1.0
precison:1.0
recall:1.0
f1:1.0

In [58]:
print(f"confusion_matrix:{confusion_matrix(y_test,y_pred)}")

confusion_matrix:[[50  0]
 [ 0 34]]

In [63]:
import pickle
pickle.dump(ohe_sex_em,open('ohe.pkl','wb'))
pickle.dump(rf_model,open('rf.pkl','wb'))